<!-- <section class="text-layout">
  <h1> {{ 'Hola Mundo' | lowercase }}</h1>
  <h1>{{ obj | json }}</h1>
</section>


<button (click)="mostrarDatos(); " pButton label="Cambiar nombre" icon="pi pi-bell" iconPos="right"
  class="p-button-help"></button>

<p-card [header]="nombre | titlecase" subheader="A subheader" [style]="{'width': '25rem', 'margin-top': '1rem'}">
  <ng-template pTemplate="content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vel officiis alias repellat enim minus corporis
      dolores expedita ratione, quidem inventore ullam vero maxime mollitia culpa id, maiores architecto eaque.
    </p>
  </ng-template>
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>

